.panel.widget {
  border-radius: 15px;
}
.navbar-brand {
    border: 1px solid;
    border-color: white;
    border-radius: 60px;
}

figcaption{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 15px;
}


.navbar.navbar-inverse.navbar-fixed-top {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav.navbar-nav{
  float:right;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 18px;  
}


.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > .active > a {
  border: 1px;
  background-color: #1DA1F2;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #1DA1F2;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  
  border-color: white;
  text-decoration: underline;
  background-color: #1DA1F2;
}

.navbar-inverse .navbar-brand {
  color: white;
  margin-left: 0px;
}

.navbar-fixed-top {
  background-color: #1DA1F2;
}

.footer {
  background-color: #1DA1F2;
}

/*ABOVE IS MY CUSTOM STYLE */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #EEEEEE;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  background-color: #1DA1F2;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
