<h2>Meet our teams: </h2>
<div class="row">
  <div class="col-md-4" ng-repeat="profile in profiles">
    <div class="panel widget">
      <div class="widget-header bg-primary"></div>
      <div class="widget-body text-center"> 
        <img ng-src="{{profile.image}}" alt="Profile Picture" class="widget-img img-circle img-border-light" />
          <h3 class="mar-no">{{profile.name}}</h4>
          <p class="text-muted mar-btm">{{profile.roles}}</p>
      </div>
    </div>
  </div>
</div>
